{{#partial "contenido"}}
        <header>
            <h1>Que me pongo? - Guardarropas</h1>
        </header>
		
		<div class="row">
			<div class="col-md-12 block-center">
			<h2>Guardarropas </h2> 
				<ul class="list-group">
					{{#each guardarropas}}
					<div class="list-group-item">
						<tr>
							<h4><td><a href="/guardarropas/{{id}}"> {{ nombre }} </a></td></h4> 
							<p> 
								<h6> Estilo: {{ estilo }} </h6>
								<h6> Cantidad De Prendas: {{ cantidadDePrendas }} </h6>
								<h6> Usuarios Con Acceso: </h6>
								{{#each usuariosConAcceso}} 
								<h6> {{ username }} </h6>
								{{/each}}
							</p>
						</tr>
					</div>
					{{/each}}
				</ul>
			</div>
		</div>

		<div>
    
	
{{/partial}}
{{>layout.hbs}}