{{#partial "contenido"}}
        <header>
            <h1>Que me pongo? - Eventos</h1>

        </header>
        
        <div class="row">
			<div class="col-md-12 block-center">
			<h2>Eventos</h2> </p> 
				<ul class="list-group">
					{{#each eventos}}
					<div class="list-group-item">
						<tr>
							<h4> <td> {{ nombre }} </td> </h4>
							<p> 
								<h6> Hora de inicio: {{ horaInicio }} </h6>
								<h6> Direccion: {{ direccion }} </h6>
								<h6> Estilo: {{ estilo }} </h6>
								<h6> Importancia del evento: {{ importancia }} </h6>
							</p>
						</tr>
					</div>
					{{/each}}
				</ul>
			</div>
		</div>
    
{{/partial}}

{{>layout.hbs}}	
