{{#partial "contenido"}}

        
        <header>
            <h1>Que me pongo? - Prendas</h1>
        </header>
		
		<style>
		#original, #changed {
			background: url('/imgPrendas/index2.jpg');
			background-size: cover;
			width: 10%;
			margin: 0 10% 0 10%;
			padding-bottom: 10%;
			float: left;
		}

		#changed {
			-webkit-filter : hue-rotate(200deg);
			filter : hue-rotate(200deg);
		}
		</style>
		
		
		<form action="/altaPrenda" method="get">
			<h2>Prendas del guardarropa
				<button type="submit" formmethod="get" class="btn btn-outlined btn-danger pull-right">
					Crear Prenda
				</button>
			</h2>
		<form/>
		
		 <div class="row">
			<div class="col-md-12 block-center">
				<ul class="list-group">
					{{#each prendasDisponibles}}
					<div class="list-group-item">
						<tr>
							<h4> <td> {{ nombre }} </td> </h4>
							<p> 
								<div id="changed"></div>
								<h6> tipo de ropa: {{ tipoRopa.nombre }} </h6>
								<h6> Color primario: {{ colorPrimario.nombre }} </h6>
								<h6> Color secundario: {{ colorSecundario.nombre }}</h6>
								<h6> Material: {{ material.nombre }}</h6>
							</p>
						</tr>
					</div>
					{{/each}}
				</ul>
			</div>
		</div>
		
		
    
	
{{/partial}}
{{>layout.hbs}}