{{#partial "contenido"}}

        <header>
            <h1>Que me pongo? - Sugerencias</h1>

        </header>
        
        <div>
        <form method="POST" action="/generarRecomendacion" align="left">
        <label for="calificacionSuperior">Elija estilo para generar recomendacion</label>
        <br>
        </br>
		      <td><select class="mdb-select md-form" name="estilo" required> 
		          <option value="">Elija una opción...</option> 
		          <option value="Formal">Formal</option> 
		          <option value="Casual">Casual</option> 
		          <option value="Elegante">Elegante</option> 
              <option value="Deportivo">Deportivo</option> 
		          <option value="Elegante_Sport">Elegante_Sport</option> 
		      </select>
         <br>
        </br>
        <button type="submit" class="btn btn-primary">Generar recomendacion</button></td> 
        </form> 
        </div>


        <h2>Eventos con sugerencias pendientes</h2>


        <div>
        <table class="table  table-dark table-hover">
  <thead>
    <tr>
      <th>Nombre de evento</th>
      <th></th>
    </tr>
  </thead>

  <tbody>

    {{#each eventosProximos}}
      <tr>

        <td>{{ nombre }}</td>
        
        <td><form method="POST" action="/verRecomendacion" align="left">
            <input id="evento" name="evento" type="hidden" value={{ id }}>
            <button type="submit" class="btn btn-primary">Ver sugerencia</button></form></td>
      </tr>
    {{/each}}
  </tbody>
</table>


<br></br>
</div>
            
        

        <h2>Sugerencias aceptados de Eventos </h2>

        <div>

        <table class="table  table-dark table-hover">
  <thead>
    <tr>
      <th>Nombre de evento</th>
      <th>Atuendo</th>
    </tr>
  </thead>

  <tbody>

    {{#each eventosNoUsados}}
      <tr>

        <td>{{ nombre }}</td>
        <td>{{#each prendasUltimoAtuendo}}
            <h6> {{nombrePrenda}}</h6>
        {{/each}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>


<br></br>
  </div>




<h2>Sugerencias aceptados del Dia </h2>

        <div>

        <table class="table  table-dark table-hover">
  <thead>
    <tr>
      <th>Atuendo</th>
    </tr>
  </thead>

  <tbody>

    {{#each sugerenciasAceptadasDelDia}}
      <tr>
        <td>{{#each prendasUltimoAtuendo}}
            <h6> {{nombrePrenda}}</h6>
        {{/each}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>


<br></br>
  </div>





{{/partial}}

{{>layout.hbs}}
